<div class="container">
  <h1>Limite a sua escolha de menu chinês</h1>

  <div class="form-group">
    <input type="text" placeholder="Pesquisar termo" class="form-control">
  </div>
  <div class="form-group narrow-button">
    <button class="btn btn-primary">Limite pra mim!</button>
  </div>
  <br>
  <div class="alert">Projeto depreciado por conta da API fornecida no curso estar off.</div>
 <!--  <div *ngFor="category of menu.categories">
    ({{ category.shot_name }})
    {{ category.name }}
  </div> -->
  <!-- <found-items found-items="...." on-remove="...."></found-items> -->
</div>

<router-outlet></router-outlet>
